body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color:#07292A;
    color:white;
    padding: 10px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-side {
    flex: 1;
    padding: 100px;
    text-align: center;
    color: #07292A;
}

.right-side {
    flex: 1;
    padding: 20px;
    max-width: 400px;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2,h3{
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#07292A;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#b2b3c5;
}

.links {
    margin-top: 15px;
    text-align: center;
}

.links a {
    color: #333;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.welcome-message {
    text-align: center;
    padding: 200px;
    font-size: 24px;
    color: #333;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.signup-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#07292A;
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#B2C5B2;
    color:#07292A;
}

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.forgot-password-box {
    background-color: #b4bdd5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.forgot-password-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#242a07;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#e8f0f6;;
}
